@inherits UmbracoTemplatePage
@{
    Layout = "umbLayout.cshtml";
}
<div class="main-wrapper">
    @*@if (IsSectionDefined("Header"))
    {
        <header class="container">
            @RenderSection("Header")
        </header>
    }*@
    <div class="main container">
        <div class="row">
            <div class="12u">
                @if (IsSectionDefined("Header"))
                {
                    <header>
                        @RenderSection("Header")
                    </header>
                }
                <!-- Content -->
                <article class="is-page-content">
                    @RenderSection("Body")
                </article>
                <!-- /Content -->
            </div>
        </div>
    </div>
</div>
<!-- /Main -->