@inherits UmbracoTemplatePage
@{
    Layout = "umbContentPageBase.cshtml";

    var fullName = string.IsNullOrWhiteSpace(CurrentPage.Title)
        ? CurrentPage.Name
        : CurrentPage.Title;
}

@section Body
{
    <header>
        <h2>@fullName</h2>
    </header>
    <section>
        @*Do not show image*@
        @*@if (string.IsNullOrWhiteSpace(CurrentPage.Image) == false)
            {
                <span class="image image-full"><img src="@CurrentPage.Image" alt="" /></span>
            }*@
        <h3>@CurrentPage.Occupation</h3> 
        @CurrentPage.BodyText
    </section>
}
@section Sidebar
{
    @{ Html.RenderPartial("umbLatestNewsWithHeaderWidget"); }
}