@inherits UmbracoTemplatePage
@{
    Layout = "umbContentPageBase.cshtml";

    // If the editor has not explicitly provided the "Page title" property page
    // then just show the name of the page otherwise show the provided title
    var pageTitle = string.IsNullOrWhiteSpace(CurrentPage.Title)
        ? CurrentPage.Name
        : CurrentPage.Title;
}
@section Header
{
    <h3 class="major"><span class="only-mobile">@pageTitle</span></h3>
}

@section Body
{
    <section>
        @CurrentPage.BodyText
    </section>
}