@inherits UmbracoTemplatePage
@{
    Layout = "umbContentPageBase.cshtml";

    // If the editor has not explicitly provided the "Page title" property page
    // then just show the name of the page otherwise show the provided title
    var pageTitle = string.IsNullOrWhiteSpace(CurrentPage.Title)
        ? CurrentPage.Name
        : CurrentPage.Title;

    var carouselImagesStr = (string)CurrentPage.CarouselImages;
    var imageIds = carouselImagesStr.Split(new[] { "," }, StringSplitOptions.RemoveEmptyEntries).Select(int.Parse);
    var carouselImages = Umbraco.Media(imageIds);
}
@section Header
{
    <header>
        <h3 class="major"><span>@pageTitle</span></h3>
    </header>
}

@section Body
{
    <section>
        <p><strong>@(((DateTime)CurrentPage.Year).Year)</strong></p>
        @CurrentPage.BodyText
    </section>
    <section>
        @{
            var dict = new ViewDataDictionary { { "carouselImages", carouselImages } };
            Html.RenderPartial("/Views/Partials/ImagesCarousel.cshtml", dict);
        }
    </section>
}

